* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  background-color: grey;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: rgb(55, 139, 114);
}

.splitscreen {
  display: flex;
}
.splitscreen .left {
  flex: 1;
}
.splitscreen .right {
  flex: 1;
}
.splitscreen2 {
  display: flex;
}
.splitscreen2 .left {
  flex: 1;
}
.splitscreen2 .right {
  flex: 1;
}
